.home_div {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 100%;
  padding: 24px 0;

  color: #fff;
}

.home_info_section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home_about_div > h1 {
  font-weight: bold;
  font-size: 3.6em;
  color: #04f06a;
}

.home_about_div > h2 {
  font-weight: bold;
  font-size: 2em;
  font-style: italic;
}

.home_info_img > img {
  height: 350px;
  width: 100%;
}

.home_about_ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4px;
}

.home_about_ul > p > span {
  font-weight: bold;
}

.home_bio_div > div > h1 {
  font-size: 1.8em;

  color: #04f06a;
}

.home_bio_div > div {
  padding-top: 24px;
}
