.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 1em;

    text-align: center;

    background-color: #0E0F19;

    border-top: 1px solid #04F06A;
}

.list_link a {
    font-size: 1.5em;
    padding: .4em;
    color: white;
    transition: .5s;
}

.list_link a:hover {
    color: var();
}

.copy_right {
    color: white;
}

.copy_right span {
    font-weight: bold;
    color: #04F06A;
}